@import "tailwindcss";

/* TransactionTable.css */
.transaction-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
  font-family: 'Inter', sans-serif;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.transaction-table th,
.transaction-table td {
  padding: 12px 8px;
}

.transaction-table thead {
  background-color: #f9fafb;
  color: #374151;
  font-weight: 600;
  border-bottom: 2px dotted #e5e7eb;
}

.transaction-table tbody tr {
  border-bottom: 1px dashed #e5e7eb;
  transition: background-color 0.2s ease-in-out;
}

.transaction-table tbody tr:hover {
  background-color: #f3f4f6;
}

/* .transaction-table td button {
  margin: 0 4px;
  padding: 4px 8px;
  font-size: 0.85rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: #2563eb;
}

.transaction-table td button:hover {
  text-decoration: underline;
} */


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
